.card {
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
}
.cardImg img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.cardNombre, .cardTutor, .cardPrecio, .cardInputBlock {
    width: 90%;
    margin: 0 auto;
}
.cardNombre {
    font-size: 1.6rem;
    font-weight: bold;
}
.cardTutor {
    margin-top: 10px;
    font-size: 1.3rem;
}
.cardPrecio {
    color: red;
    font-size: 1.3rem;
    margin-top: 10px;
}
.cardInputBlock {
    margin-top: 10px;
    margin-bottom: 10px;
}
.cardInputBlock input {
    border: 1px solid rgb(106, 173, 250);
    color: white;
    background-color: rgb(0, 162, 255);
    border-radius: 4px;
    width: 100%;
    padding: 5px;
    font-size: 1.3rem;
}
.cardInputBlock input:hover {
    background-color: rgb(2, 147, 231);
    transform: scale(.99);
}