.info {
    background: rgb(71, 58, 180);
    background: linear-gradient(90deg, rgba(71, 58, 180, 0.7077205882352942) 1%, rgba(151, 29, 253, 0.9262079831932774) 30%, rgba(69, 89, 252, 0.8925945378151261) 100%);
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.infoBlock {
    padding: 1rem;
    column-gap: 10px;
    color: white;
    width: 30%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infoBlock img {
    width: 40px;
}

@media (max-width: 600px) {
    .infoContainer {
        flex-direction: column;
    }
    .infoBlock {
        width: 100%;
        justify-content: start;
    }
}